%h2 Other Things

= link_to "Thunderbird Extension", "/thunderbird.xpi"
\- Right Click link -> "Save Link As" -> save file.  In Thunderbird "Tools" menu -> "Add Ons" -> "Install" button -> open saved file.