@import "compass/css3";
@import "fancy-buttons";

@import "variables";

/* Global */
div#main {
  padding: 1em;
  padding-top: 0;
}

/* Tabs */
div.tabs {
  clear: none;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    overflow: hidden;
    border-bottom: thin solid black;
    
    li {
      display: inline;
      margin: 0 0.125em 0 0.125em;
      padding-top: 0.25em;
    
      z-index: 100;
      border: thin solid black;
      border-bottom: none;
      
      background-color: #F0F0F8;
      @include border-radius(1em 1em 0 0);
      
      &.sel {
        border-bottom: thin solid white;
        background-color: white;
      }
      
      &.sub {
        background-color: #E0E0F0;
        padding-top: 0.5em;
        padding-left: 0.25em;
        margin-right: 0.5em;
        &:hover {
          background-color: #E4E4F4;
        }
      }
      
      &.active, &:hover {
        color:#333;
        background-color: #F8F8FF;
      }
      
      &.active {
        border-bottom: 1px solid white;
        background-color: white;
      }
      
      a {
        padding: 0 0.5em 0 0.5em;
        color: black;
        font-size: 1.0em;
        white-space:nowrap;
      }
    }
  }
  
  > ul {
    padding-left: 0.5em;
    padding-right: 2em;
  }
}

/* Errors */
div.notice {
  background-color: #FCC;
  border: thin solid red;
  padding: 0.25em 1em 0.25em 1em;
  margin: 1em;
  font-weight: bold;
  font-family: sans serif;
}

/* from scaffold */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  //width: 400px;
  border: medium solid red;
  padding: 7px 7px 12px 7px;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 1em;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }
  
  p {
    color: #333;
    margin-bottom: 0;
    padding: 0.5em;
  }
  
  ul {
    margin-left: 1em;
    li {
      font-size: 12px;
      list-style: square;
    }
  }
}

/* Form Entry */
table.form {
  border-collapse: separate;
  border-spacing: 0.1em;
  
  caption {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    border-bottom: thin solid black;
    margin-top: 1.0em;
  }
  th {
    padding-left: 1em;
    vertical-align: middle;
    text-align: right;
    background-color: #EEE;
    font-weight: normal;
  }
  tr.required th {
    font-weight: bold;
  }
}

div.left {
  float: left;
  clear: left;
}

/* Status Page */
div#key span {
  padding: 0.5em;
  border: thin solid black;
  line-height: 2.5em;
  white-space: nowrap; 
}

table#status {
  border-collapse: separate;
  border-spacing: 0.2em;
  
  td {
    padding: 0.2em;
    border: thin solid grey;
    
    &.header {
      border: none;
      text-align: center;
    }
    
    div.time {
      font-size: 0.8em;
      float: right;
    }
  }
}

.pending { background-color: #F0F0FF; }
.complete { background-color: #E0FFE0; }
.ready { background-color: #FFFFE0; }
.late { color: red; }

/* Artwork Page */
.message {
    font-size: 0.8em;
  p {
      margin-top: 0.4em;
      margin-bottom: 0.4em;
  }
}

/* Item Page and Order Acknowledge Page */

/* Acknowledge Page */
div#aknowledgement {
  h2 {
    font-family: sans-serif;
    font-weight: bold;    
    font-size: 1.4em;
  }

  h3 {
    font-family: sans-serif;
    font-weight: bold;    
    font-size: 1.2em;
    margin-top: 0.5em;
  }

  h4 {
    font-family: sans-serif;
    font-weight: bold;    
    font-size: 1.1em;
    margin-top: 0.5em;
  }
}

div.invoice {
  border: thin solid black;
  padding: 0;
  margin-bottom: 1em;
  page-break-inside: avoid;
  
  h3 {
    font-family: sans-serif;
    font-weight: bold;
    padding: 0.2em 0 0.2em 0.5em;
    font-size: 1.2em;
    background-color: black;
    color: white;
    margin: 0;
  }
  
  div.date {
    float: right;
    color: white;
    margin-right: 0.5em;
    margin-top: 0.3em;
  }
  
  table, div.notes {
    margin-left: 1em; margin-right: 1em;
  }
}



/* Payment */
div.lowlight {
  background-color: #F0F0F0;
  clear: both;
  
  h1 {
    font-family: sans serif;
    font-size: 1.5em;
    color: red;
  }
}

div.info_block {
  clear: left;
  h3 {
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: medium solid black;
  }
  div.left {
    margin-bottom: 1em;
    margin-right: 1em;
  }
}

/* Acknowledge */
div#ack {
  text-align:center;
  background-color: #FCC;
  padding: 0.5em;
}

input.button {
  @include fancy-button(#F0E8E8, 1em, 0.7em, 2px);
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

input#submitbtn {
  color: #006000;
  background-image: image-url('submit.png');
}

input#nextbtn {
  color: #000080;
  background-image: image-url('forward.png');
}

input#addbtn {
  color: #006000;
  background-image: image-url('addbtn.png');
}

input#rejectbtn {
  color: #600000;
  padding-left: 50px;
  background-image: image-url('reject.png');
}


table#list {
  tr:nth-child(2n) {
    background-color: $stripe-color;
  }
  
  .products div {
    text-align: center;
    display: inline-block;
    max-width: 250px;
  }
}
