[submodule "vendor/plugins/auto_complete"]
	path = vendor/plugins/auto_complete
	url = https://github.com/david-kerins/auto_complete
[submodule "vendor/plugins/action_web_service"]
	path = vendor/plugins/action_web_service
	url = https://github.com/nathanvda/actionwebservice
