[submodule "vendor/plugins/better_nested_set"]
	path = vendor/plugins/better_nested_set
	url = https://github.com/chris/better_nested_set.git
[submodule "vendor/plugins/acts_as_tsearch"]
	path = vendor/plugins/acts_as_tsearch
	url = https://github.com/pka/acts_as_tsearch.git
[submodule "vendor/plugins/action_web_services"]
	path = vendor/plugins/action_web_services
	url = https://github.com/datanoise/actionwebservice.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = https://github.com/rails/acts_as_tree.git
[submodule "vendor/plugins/auto_complete"]
	path = vendor/plugins/auto_complete
	url = https://github.com/rails/auto_complete.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = https://github.com/rails/exception_notification.git
