%html{ "xml:lang" => "en-US", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head{ :profile => "http://www.w3.org/2005/10/profile" }
    %title= @title
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %body
    %h1 Artwork for PO-#{@po.quickbooks_ref} from Mountain Xpress Promotions
    - if @po.purchase.supplier.account_number
      Account: #{@po.purchase.supplier.account_number}
      
    = render 'artwork.html'
