PO <%= @purchase.purchase_order.quickbooks_ref %> attached.

Thank you,
Sales Team
MountainofPromos.com
877-MTN-LOGO (877-686-5646)
FAX: 970-382-2669
Mountainofpromos.com is owned and operated by Mountain Xpress Promotions, LLC.