$head-color: #332717;
$text-color: #274842;
$highlight-color: #d2633a;


/* On list page */
div#list { padding: 1em; }
div#list table { clear: both; background-color: #EEE; }

/* On all pages */
table.list { 
  border-collapse: separate;
}
table.list td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: white;
  text-align: center;
  width: 1%; /* Make all columns same width */
}

span#order { margin-left: 1em; font-weight: normal; font-size: 0.8em; }
span#order a { padding: 0.25em 0.5em 0.25em 0.5em; }

div.pagination { text-align: center; overflow: hidden; }
div.pagination a { 
  padding: 2px 0.5em 2px 0.5em;
  line-height: 2em;
  color: #000040;
  white-space: nowrap;
  font-weight: bold;
  border-left: thin solid #E0E0EF;
  border-right: thin solid #E0E0EF;
}
div.pagination a.sel, div.pages a:hover { background-color: #E0E0EF; }

div.category {
  margin: 1em;
  border: none;
  background-color: $head-color;
  padding: 0 0.2em 0.2em 0.2em;
}

div.category tr td { padding: 0; margin: 0; }
div.category table {
    border-collapse: collapse;
}
div.category table td { border: none; }

div.category a.title {
  display: block;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  white-space: nowrap;

  padding: 0.25em;
  padding-left: 20px;
  &:hover {
      background-color: lighten($head-color, 10%);
  }
}

div.category div.tags {
  float: right;
  font-size: 0.9em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  white-space: nowrap;
  margin-left: 16em;
  margin-bottom: 0.5em;

}
div.category div.tags a {
    color: black;
    padding: 0.25em;   

  -moz-border-radius: 0.6em;
  border-radius: 0.6em;
  
    background-color: #E0E0E0;
    background: -moz-linear-gradient(top, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
    background: -webkit-linear-gradient(top, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
    background: -o-linear-gradient(top, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
    background: linear-gradient(top, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);

}
div.category div.tags a:hover {
    background-color: #D0D0D0;
    background: -moz-linear-gradient(bottom, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
    background: -webkit-linear-gradient(bottom, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
    background: -o-linear-gradient(bottom, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
    background: linear-gradient(bottom, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);

}
div.category div.tags img { margin: 0 0.25em -3px 0; }

table.breaks { 
    width: 100%;
    tr td {
	background-color: white;
	white-space: nowrap;
	text-align: center;
	font-size: 0.9em;
	
	a {
	    display: block;
	    color: $text-color;
	    padding: 0.25em 0.5em 0.25em 0.5em;
	    &:hover {  background-color: lighten($highlight-color, 35%); }
	}
    }
}


div#description {
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.5em 1em 0.5em 1em;
  font-size: small;
}

/* Home Page */
div#virtues {
    margin-left: 1em;
    margin-right: 1em;

    div {
	border-left: medium solid $head-color;
	border-right: medium solid $head-color;
	border-bottom: medium solid $head-color;
	margin: 0;
	margin-bottom: 0.5em;

	h2 {
	    text-align: center;
	    font-size: medium;
	    margin-bottom: 0;
	    padding-left: 0.25em;
	    
	    color: white;
	    background-color: $head-color;
	}

	p {
	    font-size: small;
	    margin-top: 0.5em;
	    margin-left: 1.0em;
	    margin-right: 1.0em;
	}
    }
}

div#gridsel {
    float: right;
    margin-top: 0.5em;
    margin-right: 0.5em;
}
