body { background-color: white; margin: 0; }

img { border: 0; }

table.layout { border-collapse: collapse; width: 100%; }
td.layout { vertical-align: top; padding: 0; margin: 0; }

div#header {
    display: block;
    position: relative;
    padding: 0;
    min-width: 40em;
}

td#lefttd { width: 1%; }

div#footer { text-align: center; }

div#leftbar { text-align: center; }
div#leftbar div { text-align: left; }
div#leftbar img { margin: 0.5em 0.5em 0 0.5em; }

div#badges div { margin-top: 0.5em; text-align: center; }

/* Lifted then taunted from http://www.alistapart.com/stories/taminglists/ */
div#leftbar div {
 position: relative;
 padding: 0 0 0.5em 0;
 margin-bottom: 1em;
 font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
 font-size: 0.8em;
 background-color: white;
 color: #333;
}

/* div title */
div#leftbar div .head {
  display: block;
  font-weight: bold;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background-color: #332717;
  color: white;
  margin-bottom: 0.5em;
}

.span {
  display: inline;
}

div#leftbar div a.head:hover {
  background-color: #524430;
}


div#leftbar div ul {
 list-style: none;
 margin: 0;
 padding: 0;
 border: none;
}

div#leftbar div > ul {
 margin-left: 0.5em;
}

 
div#leftbar div ul li {
 margin: 0;
 position: relative;
}

div#leftbar div li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}

div#leftbar div li.sel > ul {
  display: block;
  position: relative;
  left: 0;
  top: 1px;
  margin-left: 0.5em;
}

div#leftbar div li:hover > ul {
  display: block;
  width: auto;
  z-index: 100;
}
 
div#leftbar div li a {
  display: block;
  border-left: 2px solid #9dbcbc;
  padding: 0px 5px 2px 5px;
  background-color: #c7e7e1;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

 div#leftbar div li a:hover, div#leftbar div li.sel > a {
  background-color: #eaf9fa;
  background-repeat: repeat-y;
  color: #black;
}

a { text-decoration: none;}
a.thumb { text-align: center; font-size: 0.8em; }
a.thumb span { display: block; color: black; }
a.thumb span.price { font-size: 0.9em; color: #6c1b0a; }
a.thumb:hover span { text-decoration: underline; }

/* Content */
div#content {
  display: block;
  clear: both;
  position: relative;
}

h1#path {
  background-color: #332717;
  color: white;
  font-size: 1.0em;
  margin: 0 0 0.5em 0;
  padding: 0.2em 0 0.2em 0.5em;
}

h1#path a {
	color: white;
}

h1#path a:hover, h1#path a.sel {
  background-repeat: repeat-x;
}

span#num {
  float: right;
  margin-top: 0.25em;
  margin-right: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
  font-weight: bold;
}

/* from scaffold */
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px 7px 12px 7px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

tr.odd {
  background-color: #f0F0F8;
}

hr {
  clear: both;
  padding: 0;
  border: none;
  border-bottom: thin solid black;
}


/* Tabs */
div.tabs {
  clear: none;
  position: relative;
  margin-bottom: 1em;
}
div#header div.tabs {
    margin-bottom: 0;
    font-size: 0.8em;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

div.tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
  overflow: hidden;
  border-bottom:thin solid black;
}
div#header div.tabs ul {
    border-bottom: none;
}

div.tabs > ul {
  padding-left: 0.5em;
  padding-right: 2em;
}
div#header div.tabs > ul {
  padding-right: 0.5em;
}

div.tabs ul li.sub {
  background-color: #E0E0F0;
  padding-top: 0.5em;
  padding-left: 0.25em;
  margin-right: 0.5em;
}
div#header div.tabs ul li {
    background-color: #aa9cad;
}

div.tabs ul li.sub:hover {
  background-color: #E4E4F4;
}

div.tabs ul li {
  display: inline;
  margin: 0 0.125em 0 0.125em;
  padding-top: 0.25em;

  z-index: 100;
  border-top:thin solid black;
  border-left:thin solid black;
  border-right:thin solid black;
  
  background-color: #F0F0F8;
  
  -moz-border-radius: 1em 1em 0 0;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
div#header div.tabs ul li {
    background-color: #ff370f;
    border: none;
}
div#header div.tabs ul li a {
	color: white;
}

div.tabs ul li.sel {
  border-bottom:thin solid white;
  background-color: white;
}

div#header div.tabs ul li.sel, div#header div.tabs ul li:hover {
    background-color: #f45434;
}

div.tabs ul li.active, div.tabs ul li:hover {
  color:#333;
  background-color: #F8F8FF;
}

div.tabs ul li.active {
  border-bottom: 1px solid white;
  background-color: white;
}

div.tabs ul li a {
  padding: 0 0.5em 0 0.5em;
  color: black;
  font-size: 1.0em;
  white-space:nowrap;
}

span#phone {
  width: 0;
  font-size: 1.8em;
  font-family: monospace;
  text-align: right;
  white-space: nowrap;
}


td#message {
  min-width: 10em;
  color: #006000;
}

div#header table tr#topmenu td {
  vertical-align: bottom;
  padding: 0;
  margin: 0;
}

a#items {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #57485a;
    -moz-border-radius: 0 0 0 0.5em;
    padding: 0 0.5em 0.2em 0.5em;

    color: white;
    vertical-align: top;
}

a#items img {
    margin-top: 4px;
    margin-right: 4px;
}

a#items:hover {
    background-color: #6b5270;
    color: #E0E0E0;
}

div#search {
    position: relative;
    margin-top: 0.2em;
    margin-left: 0;
    padding: 0;
    padding-left: 0.5em;
    width: 18em;

    background-color: white;
    border: medium solid #332717;

    -moz-border-radius: 0.5em 0.5em 0 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}


div#search input#terms {
    background-image: url('/images/search.png');
    background-repeat: no-repeat;
    padding-left: 26px;
    min-height: 22px;
    margin: 0;
    width: 14em;
    border: none;
/*    border: medium solid #d4cad6;
    border-bottom: none;
    -moz-border-radius: 0.5em 0.5em 0 0;*/
}

div#search input#submit {
    position: absolute;
    right: 0;
    margin-top: 0.15em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 4em;
    background-color: #E0E8E0;
    border: #D0FFD0;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    background-color: #E0E0E0;
    background: -moz-linear-gradient(top, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
    background: -webkit-linear-gradient(top, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
    background: -o-linear-gradient(top, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
    background: linear-gradient(top, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
}

div#search input#submit:hover {
    background-color: #D0D0D0;
    background: -moz-linear-gradient(bottom, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
    background: -webkit-linear-gradient(bottom, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
    background: -o-linear-gradient(bottom, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
    background: linear-gradient(bottom, white, #E0E0E0 50%, #D0D0D0 50%, #E0E0E0);
}

div#search form {
  margin: 0;
}

div#tagline {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0.25em;
    padding-right: 0.25em;
    font-size: 0.7em;
    color: #000080;
    margin-right: 0.5em;
}


div.notice {
  background-color: #FCC;
  border: thin solid red;
  padding: 0.25em 1em 0.25em 1em;
  margin: 1em;
  font-weight: bold;
  font-family: sans serif;
}
