.nav { display: none; }
div#content { display: block; border: none; }

h1 { border-bottom: medium solid black; }

div.box { page-break-inside: avoid; }
div.item { page-break-inside: avoid; }
div.box h2 { border-bottom: thin solid black; }

a { color: black; }

span#prod_num { float: right; }

td { font-size: 10pt; }
