.tabs.nav
  %ul
    != li_to_order 'Order', :acknowledge_order_order
    - if @order.task_ready?(ArtAcknowledgeOrderTask) or @order.task_completed?(ArtAcknowledgeOrderTask)
      != li_to_order 'Artwork', :acknowledge_artwork_order

