= customer.fields_for :email_addresses, email_address do |email|
  .email_address
    - unless @static
      = email.text_field :address
      != remove_link(email)
    - else
      = mail_to email.object.address
