@import "variables";

div.session {
  //background-color: #E0E0E0;
  padding: 0;
  margin: 1em;
  border: thin solid black;
  
  > div {
    //background-color: white;
    padding: 0.2em;

    &:nth-child(2n) {
      background-color: $stripe-color; 
    }

    > div {
      padding-left: 0.5em;
      
      &.date_addr {
        padding: 0.25em;
        color: white;
        background-color: black;
      }
    }

    &.agent {
      float:right;
      background-color: white;
    }
  }
}

span.referer {
  background-color: #F0F0F0;
  
  span {
    background-color: #F0F0F0;
    padding: 0.1em 0 0.1em 0.1em;
    margin-right: 0.2em;
  }
}
