@import "variables";

div.session {
  //background-color: #E0E0E0;
  padding: 0;
  margin: 1em;
  border: thin solid black;

  h2 {
    padding: 0.25em;
    color: white;
    background-color: black;
  }
  
  > div {
    padding: 0.2em;

    &:nth-child(2n+1) {
      background-color: $stripe-color; 
    }

    table.products {
      width: 100%;
      td { text-align: center; }
    }
  }

  .agent {
    font-size: 0.7em;
    float: right;
    background-color: #EEE;
  }
}

span.referer {
  background-color: #F0F0F0;
  
  span {
    background-color: #F0F0F0;
    padding: 0.1em 0 0.1em 0.1em;
    margin-right: 0.2em;
  }
}
