%h1 About Mountain Xpress Promotions

%p We believe we provide the best value of any 

%h2 Guarantees
%h3 Lowest Price
%p We are so confident our listed prices are the lowest anywhere, if you can find a lower advertised price within 30 days after purchase, we will refund double the difference.

%h3 What you Expect
%p If the product you recieve isn't as you expect including the imprint, we will rerun your order or refund your money.

%h3 On Time
%p If your order isn't delieverd on time for your event, we will refund all your money.

%h2 Trust
%h3 Privacy
%p We consider our customers privacy very important.  Accordingly we will never sell any information you provide us.  We will only send you emails not directly related to your order(s) if you specifically opt in to recieve product promotions emails.  To back this up, compliance with our full privacy policy is certified by truste.

%h3 Security
%p Our secure site uses an Extended Validation SSL certificate

%h2 Value
%p Mountain Xpress Promotions, LLC strives to provide the best possible value to its customers.  We achieve this in part
%p 
  Mountain of Promos works to ensure ordering promotional products is as easy and pleasant as possible.  We do this in part by
  %ul
    %li Ensuring our listed prices are some of the lowest on the internet to complement our price guarantee so you know you are always getting the best possible price.
    %li Represent your brand well with good artwork including creating that artwork if necessary.
    %li Providing top notch customer service and ensure our customers are always satisfied.
    %li Present correct, clear and complete product information for a wide range of products.
    %li Provide a fast, simple, uncluttered but feature full website.

%h2 Price Guarantee
%p While our list prices are hard to beat, we think our customers should always get the best deal, so Mountain of Promos will match or beat any advertised price.

%h2 Contact Information
%p
  = link_to "MountainOfPromos.com", "http://www.mountainofpromos.com/"
  is owned and operated by:
  %br
  = link_to "Mountain Xpress Promotions, LLC", "http://www.mountainexpresspromotions.com"
  %br
  954 E. 2nd Ave, Suite 206
  %br
  Durango, CO. 81301
  %br

%table
  %tr
    %td Office:
    %td (970) 375-1900
  %tr
    %td Fax:
    %td (877) 765-3617
  %tr
    %td{ :rowspan => "2" } Phone:
    %td (877) MTN-Logo
  %tr
    %td (877) 686-5646
  %tr
    %td Email:
    %td
      = mail_to MAIN_EMAIL, nil, :encode => 'javascript'
