%h1 About Mountain Xpress Promotions

/%p We believe we provide the best value of any 

%h2 Guarantees
%h3 Lowest Price
%p We are so confident our listed prices are the lowest anywhere, if you can find a lower advertised price within 30 days after purchase, we will refund the difference.

%h3 What you Expect
%p If the product you recieve isn't as you expect including the imprint, we will rerun your order or refund your money.

%h3 On Time
%p If your order isn't delieverd on time for your event, we will refund all your money.

/%h2 Trust
/%h3 Privacy
/%p We consider our customers privacy very important.  Accordingly we will never sell any information you provide us.  We will only send you emails not directly related to your order(s) if you specifically opt in to recieve product promotions emails.  To back this up, compliance with our full privacy policy is certified by truste.

/%h3 Security
/%p Our secure site uses an Extended Validation SSL certificate

%h2 Contact Information
%p
  = link_to "MountainOfPromos.com", "http://www.mountainofpromos.com/"
  is owned and operated by:
  %br
  = link_to "Mountain Xpress Promotions, LLC", "http://www.mountainexpresspromotions.com"
  %br
  954 E. 2nd Ave, Suite 206
  %br
  Durango, CO. 81301
  %br

%table
  %tr
    %td Office:
    %td (970) 375-1900
  %tr
    %td Fax:
    %td (877) 765-3617
  %tr
    %td{ :rowspan => "2" } Phone:
    %td (877) MTN-Logo
  %tr
    %td (877) 686-5646
  %tr
    %td Email:
    %td
      = mail_to MAIN_EMAIL, nil, :encode => 'javascript'
