%h1 About Mountain of Promos
%p 
  Mountain of Promos works to ensure ordering promotional products is as easy and pleasant as possible.  We do this in part by
  %ul
    %li Ensuring our listed prices are some of the lowest on the internet to complement our price guarantee so you know you are always getting a good deal.
    %li Represent your brand well with good artwork including creating that artwork if necessary.
    %li Providing top notch customer service and ensure our customers are always satisfied.
    %li Present correct, clear and complete product information for a wide range of products.
    %li Provide a fast, simple, uncluttered but feature full website.

%h2 Price Guarantee
%p While our list prices are hard to beat, we think our customers should always get the best deal, so Mountain of Promos will match or beat any advertised price.

%h2 Contact Information
%p
  = link_to "MountainOfPromos.com", "http://www.mountainofpromos.com/"
  is owned and operated by:
  %br
  = link_to "Mountain Xpress Promotions, LLC", "http://www.mountainexpresspromotions.com"
  %br
  954 E. 2nd Ave, Suite 206
  %br
  / OLD Address: 361 S. Camino Del Rio, Suite 160
  Durango, CO. 81301
  %br

%table
  %tr
    %td Office:
    %td (970) 375-1900
  %tr
    %td Fax:
    %td (877) 765-3617
  %tr
    %td{ :rowspan => "2" } Phone:
    %td (877) MTN-Logo
  %tr
    %td (877) 686-5646
  %tr
    %td Email:
    %td
      = mail_to MAIN_EMAIL, nil, :encode => 'javascript'
