%h1 Pantone Color Chart

%style{ :type => 'text/css' }
  table#chart { width: 100%; border-collapse: separate; border-spacing: 0.5em; }
  table#chart td { height: 4em;  border: none; width: 1%; }
  table#chart span { background-color: white; margin: 0; padding: 0 0.25em 0.25em 0; }

%p The colors presented on your computer screen will vary from the actual pantone color.

%table#chart
  - Pantone::Color.colors.in_groups_of(7) do |row|
    %tr
      - for values in row.compact
        %td{ :style => "background-color: #{"#%06x" % values.last};" }
          - for name in values[0..-2]
            %span= name
