%h1 Product Decorations

%h2
  %strong What are
  Pantone Colors
%p
  The
  %a{ :href => 'http://en.wikipedia.org/wiki/Pantone' } Pantone Matching System (PMS)
  allows designers and artists to accurately identify and match colors. Each color is assigned a number or name that is commonly prefaced by the abbreviation PMS. For example, one of the many colors of pink is called “PMS 211.”
  = link_to "Here is a list of many Pantone Colors", :action => :color_chart


%h2 Spot Color Decoration Methods
%p Spot color decorating methods are processes where one color is applied to a product at a time. The inks used in spot color decoration methods can usually be matched to any Pantone color. In many cases, metallic colors can be used.

%h3
  %strong What is a
  Screen Print
%p Screen printing (a.k.a. “silk screening”) is a decorating method where one spot-color at a time is applied to a product. There is usually a set-up fee for each color and additional running charges for more than one color (different shades of one color are considered multiple colors). Screen printing is not a good method for printing items that require very fine detail or more than three colors. However, it is a cost-effective way to decorate a large number of items.

%p During the screen printing process, a custom screen with your art is created and ink is pushed through the screen onto the product.  There is usually a setup fee for each screen. The more colors that are applied, the longer the screen printing process will take. Accordingly, each additional color will have a running charge (a per unit charge).

%p The inks used in screen printing can usually be matched to any Pantone color. In many cases, metallic colors can be used. Many screen printers have a set of standard colors but can mix a custom ink to match any Pantone color, typically for an additional charge.

%p Generally, your screens are kept for one year after your order. If you re-order an identical product with the same imprint within that time, the set-up fee will usually be waived or reduced.


%h3
  %strong What is a
  Pad Print
%p Pad printing is a decorating method where one spot-color at a time is applied to a product. There is usually a set-up fee for each color and additional running charges for more than one color (different shades of one color are considered multiple colors). Pad printing is not a good method for decorating with more than three colors but it may be a good method for imprinting items that require a higher level of detail than a screen print.  A pad print may be used on items with shapes that make screen printing impossible.

%p During the pad printing process, a custom plate with your art is created and ink is pushed through the etched parts of the plate onto a pad. The pad is then pressed onto the product. There is usually a setup fee for each plate. Each color must be applied separately to the product. The more colors that are applied, the longer the pad printing process will take. Accordingly, each additional color will have a running charge (a per unit charge).

%p The inks used in pad printing can usually be matched to any Pantone color. In many cases, metallic colors can be used. Many screen printers have a set of standard colors but can mix a custom ink  to match any Pantone color for an additional charge.


%h2 Textured Decoration Methods

%h3
  %strong What is
  Embroidery
%p Embroidery is a process where a machine stitches artwork onto fabric. Your artwork must be digitized to provide specific stitch instructions for the embroidery machine. There is a fee for digitizing your artwork.  The number of stitches effects the time necessary to embroider the item and accordingly, a higher stitch count will have a higher running charge (a per unit charge). The amount of area filled in by the embroidery directly effects the number of stitches. Embroidery can be cost-effective for small and large quantities of products.

%p The number of colors in an embroidery does not effect the price, however there will be a limitation to the number of colors (8 to 12).  There are a few different embroidery thread color schemes such as “Robinson Anton” or Isacord, but thread colors can usually be matched to Pantone colors.

%h3
  %strong What is a
  Deboss
%p Debossing is a decoration method where a die created from your art is pressed into a product, leaving an indentation that reproduces your art. There is a set up fee to create the die. Debossing is not a good method for imprinting items that require a high level of detail and cannot be used on materials other than leather, vinyl, paperboard and rubber. Debossing does not change the color of a product but in some cases a deboss can be color filled.

%p Generally, your dies are  kept for one year after your order. If you re-order identical products within that time,  the set-up fee will usually be waived or reduced.

%p With an emboss, the decoration is raised.  In a deboss the decoration is sunken.

%h3
  %strong What is a
  Color Stamp
%p Color stamping is decorating method where a die created from your art is used to apply colored foil to a product. There is a set up fee associated with color stamping. Color stamping is not a good method for imprinting items that require a high level of detail.

%p The are a limited amount of standard colors available for color stamping but this commonly includes metallic and other special foils.

%p Generally, your dies are kept for one year after your order. If you re-order identical products within that time,  the set-up fee will usually be waived or reduced. 

%h3
  %strong What is a
  Color Fill
%p A color fill is a method that combines debossing with color stamping, so that your art is both indented and colored on the product. There is a set up fee associated with a color fill. A color fill is not a good method for imprinting items that require a high level of detail and cannot be used on any other materials other than leather, vinyl, or cardboard. A color fill is a cost-effective way to decorate a large number of items.

%p During the color fill process, your art is used to create a die. The die is used to press foil and create an indentation on a product. There is a set-up fee for each die that is made to decorate your product. Usually, a very limited number of colors are available for the color fill process. 

%h3
  %strong What is a
  Laser Engrave
%p Laser engraving is a method used to decorate metal where a laser etches your art directly into a metal product. There can be a setup fee associated with laser engraving. Laser engraving can be a very good method for decorating metal items with art that requires some detail, however, extremely fine or extremely small details cannot be reproduced by laser engraving. Laser engraving is a cost-effective way to decorate a small or large number of items.

%h2 Full Color
%p A full color process (aka 4-color CYMK process) is a decorating technique that can reproduce art that has many colors, shading, and details, such as a photograph. Full-color imprint methods include methods such as offset printing, dye sublimation, heat transfer, and epoxy domes. The colors that appear on an imprinted product will be slightly different from what appears on a computer screen. If you demand very accurate color matching on photographic processes you will need to consult a computer graphics professional.

%h3
  %strong What is a
  Heat Transfer
%p A heat transfer is a decorating method where your art is printed onto a special material that is then bonded to your product with a heat press. The material has a slick texture and a visible sheen. There is usually no set-up fee associated with a heat transfer but there is a run charge (a per unit charge) for a heat transfer.  A heat transfer can be used on many surfaces and can be a cost-effective way to decorate a small or large number of products.  Since heat transfer is a four-color process, there is no limit to or charge for the number of colors of your art.

%h3
  %strong What is an
  Epoxy Dome
%p An epoxy dome is a decoration that consists of full-color art attached to a backing (bezel) and covered with a high-gloss polyurethane material. The epoxy dome is then adhered to your product. There is no set-up fee for an epoxy dome for a standard shape and size bezel, making a standard epoxy dome a good value for small and large orders. There is a run charge (a per unit charge) for an epoxy dome.

%p Custom epoxy domes are available and can be any shape and up to 9 square inches. There is a set-up fee for a custom epoxy dome.