%h1 Order Information

%p
  We strive to make your promotional product experience as easy as possible.  If you have any questions or would like help getting a quote or ordering please  call us at  877-686-5646 or email
  = mail_to MAIN_EMAIL, nil, :encode => 'javascript'

%h2 Requesting a Quote
%p
  You can request a quote by email, fax, phone or online and we will respond promptly.

%p
  The prices listed on our website are usually the price we quote. However, the quote will also contain your shipping and decoration (screen print, embroidery, etc.) charges.   We will match and can usually beat any price for an identical product listed by a competitor online.  Give us a call or send us an email if we need to match a competitor's price.
%h2 Placing an Order
%p You can place an order by email, fax, phone or online.  All orders will be assigned to a sales representative who will guide you through the order process. This way we can make sure all the details are correct and ensure your custom imprinted product is delivered on time and to your specifications.

%p To complete an order the following must be done:

%h3 Order Acknowledgment
%p All orders must be acknowledged by the customer.  You can do this by acknowledging your quote. A quote contains the following information:

%ul
  %li The date you need the product.
  %li The product with pricing
  %li The decoration type with pricing including additional colors or options.
  %li Estimate of shipping price and days in transit.
  %li Delivery address.
  %li Estimated order total.

%h3 Artwork Acknowledgment
%p
  All artwork imprinted on a product must be acknowledged by the customer.  You will receive an artwork proof with your logo to scale.  This proof can be acknowledged on our web site.  Depending on the complexity of your imprint and the art you provide, it can take some time (usually less than 24 hours) for us to  create an artwork proof.  Refer to
  = link_to "Artwork Requirements", :action => :artwork
  for more information on artwork requirements.

%h4 Imprint Color
%p
  If you can, please provide us with PMS imprint color(s) as shown on the
  = link_to "Color Chart.", :action => :color_chart
  If you don't know your PMS color, we are happy to help you.  In some cases, we may charge for a non-standard imprint color.

%h3 Payment
%p Payment information must be provided before an order can be put into production.  We accept credit cards on our website.  Credit card information can be entered any time before the order is produced.  We will not charge your card until you have acknowledged the order.  We can also accept mailed checks for payment.  The full invoiced amount will be charged before the product is produced.  This requirement can be waived in some situations.

%p Entering your credit card number on our website is the safest method to provide this information. Thus, we prefer payment through our website but we will accept credit card information over the phone if necessary.

%h2 Samples
%p We can provide free or reduced cost samples when we send you a quote. If a sample is not free (usually because it is for an item more than $10.00) you will not be charged for the samples until after you have acknowledged your sample order. Any charges for samples will be reimbursed when you place an order.  To request a sample and quote on a product page, click on "with Sample" under "Get Quote or Order." Or after an item has been added, check "Request Sample" for the item(s) on the "Items/Cart" tab, which you can access by clicking on the "Cart" icon in the upper right corner.
%h2 Rush Orders
%p Many products can be produced within 24 hours after the order and artwork have been acknowledged.  For rush orders, please call us to ensure your in hands date can be met. The time it takes us to create an artwork proof depends on the quality of your artwork.  If your artwork is good and you are ordering with a credit card, we can have many of our products in your hands within 48 hours.  Sometimes, in order to meet your  deadline for a rush order, we must charge an extra fee for expedited shipping.  However, may products may be delivered within five business days for no additional cost.

%h2 Additional Charges
%p You may be charged or credited for changes in the final order price within 30 days after your order has shipped due to differences in final shipping costs and over or under runs. 

%h3 Shipping
%p We will accept a UPS or FedEx account number if you prefer to charge the freight to your own account. Shipping charges are estimated and added to your order acknowledgment for your approval.  We may charge or credit your credit card after an order has shipped if the actual shipping charges differ significantly from the estimated charge.

%h3 Over Run / Under Run
%p Due to manufacturing standards, some orders will not ship with the exact number of units ordered.  This over-run or under-run will be within 10% of the specified quantity.  We may charge or credit you for the difference after an order has shipped.

%h3 Sales Tax
%p Mountain Xpress Promotions, LLC is established in Colorado and is required to collect sales tax for orders delivered in Colorado. We may also be required to collect sales tax for other states if the product ordered is produced in the same state it will be delivered.  If your destination is subject to sales tax but you supply us with a copy of your reseller certificate or tax exempt organization certificate we can waive these charges.

%h2 Less than Minimum Quantity
%p Our site is designed to list a minimum quantity that covers our order processing costs.  If you are ordering multiple items at one time or willing to pay a higher price we might be able to sell you fewer units than the minimum listed.  If you do not need the product imprinted there is usually no minimum order.

%h2 Returns
%p We do not accept returns for imprinted products delivered as the customer specified.  If some or all of the products are not delivered as reasonably expected, either because of an incorrect imprint or a defective product, you can return the products for either a full refund or a corrected order.  You must notify us within 30 days after the product has arrived to be eligible for a refund or replacement of any defective or incorrect products.  We do not accept returns for imprinted products because the general product quality wasn't as expected.  If product functionality and quality is important we strongly recommend requesting a sample (usually free) so you can see the product “in person.”

%h2 Warranty
%p We will replace any defective custom imprinted product within 30 days after it has arrived, after which any replacement is entirely at our discretion.  Some of our products include a warranty provided by the manufacturer but unless specifically stated, products are sold "as is" without an warranty beyond 30 days.

%h2 Online Ordering and Quote Process
%p Our website does not require a user name and password for customers.  You can see your order information and perform order tasks by clicking on links (containing an authentication token) provided in our emails.  Customers can not initiate credit card charges or place an order into production.  These actions must be done by your sales representative after all order details have been verified.

%h3 Quote or Order Request
%p The following lists the steps for requesting a quote or starting an order online.
%ul
  %li
    %strong Add product(s) to Cart
    on any product page by clicking on the color (or other option) of the item (not usually required), selecting the decoration technique, and entering the desired quantity. Don't worry about doing this perfectly -- we will go over your order with you to make sure you get exactly what you need. Then,  click "Add to Cart" at the bottom of the page.  Repeat for other products if necessary.
  %li
    %strong Review product selection
    on the "Items/Cart" page that will appear after clicking "Add to Cart".  You can remove items or add comments to each item.
  %li
    %strong You can provide additional order information
    on the "Information" page that will show by clicking "Next (Order Info)" at the bottom of the "Items/Cart" page or by clicking on the "Information" tab.  Enter the latest date you need this product in your possession and any notes relevant to this order.
  %li
    %strong Provide your contact information
    on the "Contact" page by clicking "Next (Contact Info)" at the bottom of the "Information" page or by clicking on the "Contact" tab.  Enter your name, email address, number, and zipcode to calculate shipping.
  %li
    %strong Submit Quote
    by clicking on "Submit Quote" at the bottom of the "Contact" page.  You should immediately receive a confirmation email containing all the information you have entered.  We will respond to your request within a business day.
  %li
    %strong Provide Artwork files
    by clicking on the "Artwork" tab. Then click "Browse" to select a file, add notes and click "Add".  This isn't required for a quote but we suggest it so we can ensure the product and imprint chosen can represent your logo well.
  %li
    %strong Provide Credit Card Information
    by clicking on the "Payment" tab then entering your credit card information.  This can be provided anytime before your order is put into production.  Your card will not be charged until you have acknowledged the order.

%h3 Acknowledge Order
%p After you submit a quote request, we will send you an email with a complete price quote.  If we have all necessary information, the email will contain a link to our website to acknowledge the order.  Clicking on this link will take you to a page with the full order quote and relevant order information.  At the bottom of the page you can acknowledge or reject the order.  If you click "Acknowledge Order" you will be required to confirm this by clicking "I authorize Mountain Xpress Promotions, LLC to proceed with this order".  If you haven't provided payment information, you will be prompted to do so.  If you have any questions or issues about acknowledging an order please contact your sales representative.

%h3 Acknowledge Artwork
%p Once we have prepared your artwork you will receive an "Artwork ready for approval" email containing a link to a PDF artwork proof for your order.  This email will also contain a link to our website allowing you to acknowledge or reject the artwork.

%h3 Order Status
%p All emails sent through our website will contain a "Status" link at the top.  Clicking on this link will take you to a status page for your order listing all the steps for a complete order and what steps have already been completed.  You will receive order status updates when the order ship date is known, after the order has shipped with a tracking number, and when your order is completed.
