%h1 Order Information

%p
  We strive to make your promotional product ordering experience as easy as possible.  If you have any questions or need help with any aspect of the quote or ordering process don't hesitate to call 877-686-5646 or email
  = mail_to MAIN_EMAIL, nil, :encode => 'javascript'

%h2 Requesting a Quote
%p
  You can request a quote by email, fax, phone or online.  Requesting a quote online is essentially the same process as placing an order except you will not need to provide payment information.  The quote will typically be sent to you via email.

%p
  The prices listed on our website are usually the price you will see on a quote with some additional charges for shipping and possibly decorations added to the quote.  We will match and usually beat any price for an identical product listed by a competitor online.  Let your sales representative know if we need to match a competitors price by including a note on the Information page when ordering online or by contacting your sales representative by phone or email.

%h2 Placing an Order
%p You can place an order by email, fax, phone or online.  All orders will be assigned to a sales representative who will guide you through the order process and make sure all details are correct to ensure your custom imprinted product is delivered as you expect and when you expect.

%p To complete an order the following must be done:

%h3 Order Acknowledgment
%p All orders must be acknowledged by the customer.  This is typically done by acknowledging a quote on our web site that contains the following details.

%ul
  %li Required date the product must be in your hands.
  %li The product with pricing including the quantity of each variant (typically colors).
  %li The decoration type with pricing including additional colors or options.
  %li Estimate of shipping price and days in transit.
  %li Delivery address.
  %li Estimated order total.

%h3 Artwork Acknowledgment
%p
  All artwork imprinted on a product must be acknowledged by the customer.  You will receive an artwork proof typically as a pdf with your logo to scale.  This proof can be acknowledged on our web site.  Depending on the complexity of your imprint and what you provide, it can take some time (typically less than 24 hours) to provide an artwork proof.  Refer to
  = link_to "Artwork Requirements", :action => :artwork
  for more information on the type of artwork that must be prepared.

%h4 Imprint Color
%p
  Appropriate PMS imprint color(s) will need to be determined and should appear on the artwork proof if applicable to the chosen decoration method.  If you can, please provide us with PMS imprint color(s) as show on the
  = link_to "Color Chart.", :action => :color_chart
  Some products will incur an additional setup charge if you need an imprint color that is not a standard imprint colors.

%h3 Payment
%p Payment information must be provided before an order can be put into production.  This is typically in the form of a credit card entered on our website.  Credit card information can be entered any time before the order is produced.  We will not charge your card until after you have acknowledged the order.  We also accept mailed checks for payment.  The full invoiced amount will be charged before the product is produced.  This requirement can be waived under some situations.

%p We strongly prefer customers enter their credit card information on our website as this ensures no other person will receive that information and it will be encrypted everywhere it is transmitted.  We can accept credit card information over the phone if necessary.

%h2 Samples
%p We can provide free or low cost samples with a quote request.  Any charges for samples will be reimbursed when you place an order.  When placing a quote request online note you would like samples on the "Information" page.  Or contact your sales representative via phone or email.  You will not be charged for samples until after you acknowledge a samples order.

%h2 Rush Orders
%p Many products can be produced in 24 hours after the order and artwork has been acknowledged.  For rush orders please call to ensure your in hands date can be met.  We will need whatever artwork files you have to asses how long it will take to provide an artwork proof.  If your artwork is good and you are ordering with a credit card, we can have many of our products in your hands within 48 hours.  Rush orders will commonly have a price premium especially for expedited shipping.  But many products can be delivered in 5 business days for no extra cost.

%h2 Additional Charges
%p You may be charged or credited for changes in the final order price within 30 days after your order has shipped.  These changes are due to differences in final shipping costs and product over or under runs.  Any charges after an order has shipped will not exceed 10% of the acknowledged quote.

%h3 Shipping
%p We will accept a UPS or FedEx account number if you prefer to charge the freight to your account. Shipping charges are estimated and added to your order acknowledgment for you to approval.  We may charge or credit your credit card after an order has shipped if the actual shipping charges differ significantly from the estimated charge.

%h3 Over Run / Under Run
%p Due to manufacturing standards, some orders will not ship with the exact number of units ordered.  This over run or under run will generally be within 5% of the specified quantity.  We may charge or credit your credit card after an order has shipped for the additional or fewer units shipped.


%h3 Sales Tax
%p Mountain Xpress Promotions, LLC is established in Colorado and is required to collect sales tax for orders delivering within Colorado and make the appropriate payments to the Colorado Department Of Revenue. If you supply us with a copy of your reseller certificate or tax exempt organization certificate we can waive these charges.

%h2 Less than Minimum Quantity
%p Our site is designed to list a minimum quantity that covers our order processing costs.  If you are ordering multiple items at one time or willing to pay a significantly higher price we might be able to sell you fewer units than listed.  If you do not need the product imprinted we can sell any number of units.

%h2 Returns
%p We do not accept returns for imprinted products delivered as the customer specified.  If some or all of the products are not delievered as resonably expected either because of an incorrect imprint or a defective product, we will ask the bad products be returned for either a full refund or to deliver a corrected new batch.  We must be notified within 30 days after the product has arrived to be eligible for a refund or replacement of any defective products.  We do not accept returns for imprinted products because the product in general wasn't as expected.  If product functionality and quality is important we strongly recommend requesting a sample (usually free) so you can personally asses if the product is acceptable for your purposes before purchasing a non-returnable imprinted version.

%h2 Warranties
%p We will replace any defective custom imprinted product within 30 days after it has arrived, after which any replacement is entirely at our discretion.  Some of our products include a warranty provided by the manufacture but unless specifically stated a product should be assumed to be sold as is without an warranty beyond our 30 days.

%h2 Online Ordering and Quote Process
%p Our website does not require a user name and password for customers.  You can see your order information and perform order tasks by clicking on links (containing an authentication token) provided in emails that will be sent to you.  Customers can not initiate credit card charges or place an order into production.  These actions must be done by your sales representative after all order details have been checked.

%h3 Quote or Order Request
%p The following lists the steps for requesting a quote or starting an order online.
%ul
  %li
    %strong Add product(s) to Cart
    on any product page by clicking on the desired variant (typically color) if known (not usually required), select the decoration technique (we will fix incorrect choices), enter the desired quantity then click "Add to Cart" at the bottom of the page.  Repeat for other products if appropriate.
  %li
    %strong Review product selection
    on the "Items/Cart" page that will appear after clicking "Add to Cart".  You can remove items or add comments to each item.
  %li
    %strong Provide order information
    on the "Information" page that will show by clicking "Next (Order Info)" at the bottom of the "Items/Cart" page or by clicking on the "Information" tab.  Enter the latest date you need this product in your possession and any notes relevant to this order.
  %li
    %strong Provide contact information
    on the "Contact" page that will show by clicking "Next (Contact Info)" at the bottom of the "Information" page or by clicking on the "Contact" tab.  You must enter your name, email address, phone number and zipcode to calculate shipping.
  %li
    %strong Submit Quote
    by clicking on "Submit Quote" at the bottom of the "Contact" page (or any other order page once all necessary info is entered).  You should immediately receive a confirmation email containing all the information you have entered.  We will respond to request within a business day (typically less than an hour).
  %li
    %strong Provide Artwork files
    by clicking on the "Artwork" tab select a file, add notes then click "Add".  This isn't required for a quote but suggested so we can check if the decoration technique chosen can represent your artwork.  Artwork can also be sent via email.
  %li
    %strong Provide Credit Card Information
    by clicking on the "Payment" tab then entering your credit card information.  This can be provided anytime before your order is put into production.  Your card will not be charged until you have acknowledged the order.

%h3 Acknowledge Order
%p After you submit a quote request, we will send you a "Quote Reviewed, Ready for Acknowledgment" email.  This will contain the quote and a link to our website to acknowledge the order.  Clicking on this link will take you to a page with the full order quote with relevant order information.  At the bottom of the page you can acknowledge or reject the order.  If you click "Acknowledge Order" you will be required to confirm this by clicking "I authorize Mountain Xpress Promotions, LLC to proceed with this order".  If you haven't provided payment information, the web site will request that after acknowledging the order.  If you have any questions or issues about acknowledging an order please contact your sales representative.

%h3 Acknowledge Artwork
%p Once we have prepared your artwork you will receive an "Artwork ready for approval" email containing a link to a pdf artwork proof for your order.  This email will also contain a link to our website allowing you to acknowledge or reject the artwork.

%h3 Order Status
%p All emails sent through our website will contain a "Status" link at the top.  Clicking on this link will take you to a status page for your order listing all the steps for a complete order and what steps have already been completed.  You will receive order status updates when the order ship date is known, after the order has shipped with a tracking number and when your order is completed.
