%iframe{:src   => "http://privacy-policy.truste.com/verified-policy/www.mountainofpromos.com",
        :title => "Privacy Policy by TRUSTe",
        :style => "width:50em;height:110em;border:0"}
  %p Your browser does not support iFrames.
