%p.head
  %strong Mountain Xpress Promotions LLC.
  recognizes the importance of protecting the privacy of its customers and users of its website.
%p.head
  We will not use any information you provide for future solicitation from our company unless you specifically opt into such solicitations.

%h1 Privacy Policy
%p By using this site and our services you agree to this privacy policy and terms of use.
%p You can be assured that Mountain Xpress Promotions LLC uses its best efforts to protect the privacy of our customers and visitors to this website.  Any information a customer provides on our website or over the phone will be retained as is necessary to provide an efficient and pleasant ordering experience.  This will include but is not limited to company and person names, phone numbers, email and physical address, payment information, and all information related to decorating a product, commonly your company logo.  Information collected is for internal use only unless clearly stated otherwise; WE DO NOT SELL OR COLLECT PERSONAL OR COMPANY INFORMATION FOR THE USE OF OTHER PARTIES. Finally, please note that this policy applies only to Mountain Xpress Promotions LLC and their web site mountainofpromos.com and not to our sponsors or other websites to which we link.
%p Customers will have the option of writing a review of our service once their order is complete.  By default, these reviews will be posted on our web site, but the customer will have the option not to publicly post their review or their personal or company name.

%h2 Secure Shopping and Payment
%p The website mountainofpromos.com operated by Mountain Xpress Promotions LLC. utilized the latest internet protocols and encryption standards to ensure all personal information entered on the site including payment information will remain secure.  We also monitor and log network traffic to identify unauthorized attempts to access, upload, or change information on the website.
%p
  Providing payment information including credit card numbers online through mounainofpromos.com is no more risky than other means of shopping and more secure than providing this information over the phone or (e)mail.  Your credit card information will be encrypted and no other person will ever see your whole credit card number when submited online.  All credit card numbers (exp date and CCV) are stored by
  %a{ :href => "https://www.pcisecuritystandards.org/" } PCI complaint
  %a{ :href => "http://trustcommerce.com/" } Trust Commerce.
%p If you find a transaction on your card from Mountain Xpress Promotions LLC that you do not expect, contact us to clarify why your card was charged and have the card appropriately credited if there was a mistake.  If you are unable to resolve the issue or the transaction was fraudulent, notify your credit card company immediately pursuant to its rules and procedures. Most credit card companies will either cover the fraudulent purchases or hold you liable for no more than $50.

%h3 Security
%p The security of your information is very important to us.  Our site requires 128-bit 3DES encryption or better up to 256-bit AES over SSLv3 or TLSv1 to protect the security of your online order information.  SSL/TLS technology encrypts your order information to protect it from being decoded by anyone other than Mountain Xpress Promotions LLC.  Once you enter the order pages (usually by adding a product to the cart) your computer will begin communicating with our server in secure mode. You can tell that you are in secure mode by the following:
%ul
  %li The "http" in the web address URL will be replaced by "https"
  %li On many browsers a padlock will appear in the lower right or to the left of the URL.  Double clicking on this padlock will provide more information about the encryption used.

%h3 Cookies
%p In addition to the information that is submit to us, we also utilize cookies, which are small pieces of information sent to a web browser by a website that is visited.  Cookies are used by this site to associate a page load with a specific web browser and possibly customer, if customer information has been provided.  What web pages you visit might be used for internal site improvement and marketing purposes.  The URL and time a page is visited on our site is logged and availible to employees of Mountain Xpress Promotions LLC.

%h2 Children and Privacy
%p Mountain Xpress Promotions LLC. is concerned about protecting children’s privacy. If you are aged 12 or under, we DO NOT want your personal information. Do not submit any personal information to us. Although there may be some areas within our website where people may post messages or provide feedback, children are discouraged from providing any personal information. If a visitor known to be a child (under the age of 13) sends an e-mail to Mountain Xpress Promotions LLC., we will only use it to respond to the e-mail and not to create profiles or otherwise retain the information.

%h2 Links to Other Websites
%p We may offer links to sites that are not operated by us. If you visit one of these linked sites, you should review their privacy and/or other policies. We are not responsible for the policies and practices of other businesses, members, professionals, farms, or companies, and any information you submit to those companies is subject to their privacy policies.

%h2 Changes to Our Privacy Policy
%p This Mountain Xpress Promotions LLC. privacy policy is effective as of January 1, 2011. From time to time, it may be necessary for Mountain Xpress Promotions LLC. to change this privacy policy. If we change our policy, we will post the revised version here so we suggest that you check this periodically for the most up-to-date version.  Rest assured, that any changes will not be retroactively applied and will not alter how we handle previously collected information.
