- cache do
  #virtues
    %div
      %h2 Service
      %p We deliver an excellent customer service experience. If you have questions about any of the great promotional products and corporate gifts we offer, you can call or email and your question will be answered promptly by you own knowledgeable account representative who will guide you through the order process. 

    %div
      %h2 Value
      %p Our prices are some of the best in the industry and our customers always get a great deal on promotional products and without having to spend their valuable time price shopping. We guarantee our low prices – if you find a lower price, we will beat it. We are one of the few promotional product companies to offer a continuous pricing scheme – simply put, the more units you order, the less expensive they get without any artificial price breaks.
      %p In addition, a promotional product is a cost-effective and efficient way to advertise, promote your brand, grow your business, stand out at a trade show or exposition, and reward employees and customers. 
    
    %div
      %h2 Rush
      %p Need a custom imprinted product right away? We can decorate and ship many of our custom imprinted promotional products and executive gifts within 24 hours of your order – and often, at no additional charge!

    %div
      %p We have over 16,000 custom promotional products including custom tote bags, padfolios, mugs, pens and much, much more ! A promotional product makes a great employee gift, trade show item, customer incentive or customer thank-you gift .  If you need marketing ideas, an effective form of advertising, want to gain brand recognition, or simply want to stand out from the crowd and make your trade show exhibit memorable, look no further!

  #categories
    - for category, tag, count in @categories
      = render :partial => 'categories/category', :locals => { :category => category, :display_name => category.name, :path => category.path_web, :to_list => true, :context => { :children => true, :tag => tag } }

  %p 
    We have a large selection of custom imprinted promotional products with over 16,000 to choose from for events like 
    = @purposes.join(', ')
