#message= flash['notice']

= form_tag do
  #loginform.form{ :title => "Account login" }
  %h3 Please loginn
  %label{ :for => "user_login" } Login:
  %br
  %input#user_login{ :name => "user_login", :size => "30", :type => "text", :value => "" }
  %br
  %label{ :for => "user_password" } Password:
  %br
  %input#user_password{ :name => "user_password", :size => "30", :type => "password" }
  %br
  %input.primary{ :name => "login", :type => "submit", :value => "Login" }
