%h1 Suppliers
= link_to "New Supplier", new_admin_supplier_path
%table
  %thead
    %tr
      %td Name
      %td Description
      %td Products
      %td ID
  %tbody
    = render :partial => 'supplier', :collection => @suppliers[nil], :locals => { :level => 0 }
