%h1 Suppliers
= link_to "New Supplier", new_admin_supplier_path
%table.grid
  %thead
    %tr
      %td Name
      %td Products
  %tbody
    = render :partial => 'supplier', :collection => @suppliers[nil], :locals => { :level => 0 }
