%hr

= render :partial => '/orders/acknowledge_artwork', :locals => { :static => true }

= link_to 'Acknowledge Artwork', {  :only_path => false, :protocol => 'https', :controller => 'orders', :action => 'acknowledge_artwork', :auth => @order.customer.uuid, :id => @order.id }
