= render :partial => '/orders/invoices', :locals => { :static => true, :absolute => true }

= link_to 'View or Acknowledge Order', {  :only_path => false, :protocol => 'https', :controller => 'orders', :action => 'acknowledge_order', :auth => @order.customer.uuid, :id => @order.id }
