= render :partial => '/order/invoices', :locals => { :static => true, :absolute => true }

= link_to 'View or Acknowledge Order', {  :only_path => false, :controller => 'order', :action => 'acknowledge_order', :auth => @order.customer.uuid, :order_id => @order.id }
